.tweet {
    background-color: #eeeeee;
    margin: 0em 2em 1em 2em;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #D0D0D0;
    overflow: hidden;
}

.tweet header {
    background-color: #F3F3F3;
    /* clearfix hack */
    overflow: auto;
}

.tweet section {
    height: 90px;
    background-color: #FFFFFF;
    display: table;
}

.tweet footer {
    border-top: 1px solid #EFEFEF;
    height: 30px;
    background-color: #FFFFFF;
    padding: 4px;
    display: table;
    width: 100%;
}

.tweet .displaypic {
    height: 50px;
    width: 50px;
    margin: 8px 8px 8px 8px;
    border-radius: 10px;
    float: left;
    opacity: 0.6;
}

.tweet h2 {
    color: #234651;
    float: left;
    opacity: 0.6;
}

.tweet .message {
    margin: 0 0 0 0;
    padding: 0 1em 0 1em;
}

/* Vertical Align Hack */
.tweet span {
    vertical-align: middle;
    display: table-cell;
}

.tweet .username {
    margin-right: 1em;
    color: #234651;
    float: right;
    opacity: 0.6;
    line-height: 33px;
}

.tweet .date {
    padding: 0em 0em 0em 1ex;
    margin: 0em 0em 0em 0em;
    font-size: 14px;
}

.tweet .icon {
    height: 15px;
    width: 15px;
    margin: 0px 2px 0px 2px;
}

.iconbar {
    text-align: right;
    opacity: 0;
}